$darkest: #1E1E1E;
$darker: #2D2D30;
$dark: #3E3E42;
$primary: #007ACC;
$textColor: #F2F2F2;
$xlarge: 28px;
$large: 34px;
$medium: 18px;
$small: 12px;
$borderRadius: 6px;
$boxShadow: -1px -1px 8px 0 rgb(22, 22, 22);