@import "./variables";

.container {
    margin: 0 200px 30px;
    background-color: $darker;
    border-radius: $borderRadius;
    box-shadow: $boxShadow;
    padding: 20px 80px;

    h2 {
        font-size: $medium;
        font-weight: 500;
    }
}

.tableContainer {
    margin: 20px 0;
}

.row {
    display: flex;
    height: 35px;

    p{
        width: 30px;
        max-width: 30px;
    }
    .username, .score {
        width: 200px;
        max-width: 200px;
    }
}

.buttonContainer {
    text-align: right;
    margin-right: 200px;
}