@import "./variables";

.container {
    margin: 10px 200px;
    display: flex;
    flex-direction: row;

}

.timerContainer {
    background-color: $darker;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    min-width: 72px;
}

.timer {
    font-weight: 500;
    font-size: 1em;
    color: $primary;
    letter-spacing: 1.5px;
}